@page {
  margin: 0.5in;
}

body {
  font-family: "Palatino", "Palatino Linotype", "Georgia", "Serif";
}

h1 {
  font-size: 20px;
}

#appendix, .no-print {
  display: none;
}

.two-column {
  display: flex;
  gap: 1rem;
}

.two-column > div {
  flex: 1;
}
